<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>공지사항 목록</h1>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th> 
                <th>작성자</th>
                <th>작성일자</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
<!--         		<th:block th:each=""></th:block> -->
<!--         		<th:block th:if=""></th:block> --> 
   		    <tr th:each="notice : ${nList}">
<!--    		    간단하게 출력할 때 사용 -->
                <td>[[${notice.noticeNo}]]</td>
<!--                보안과 유지보수 측면에서 권장되는 방법 --> 
				<td>
<!--				쿼리스트링 방식 -->
<!--				<a th:href="@{/notice/detail/(noticeNo=${notice.noticeNo})}" th:text="${notice.noticeSubject}"></a>-->
<!--				PathVariable 방식                -->
				<a th:href="@{/notice/detail/{noticeNo}(noticeNo=${notice.noticeNo})}" th:text="${notice.noticeSubject}"></a>
				<td th:text="${notice.noticeWriter}"></td>
                <td>[[${notice.noticeDate}]]</td>
                <td>[[${notice.viewCount}]]</td>
            </tr>
<!--			<c:forEach items="${nList}" var="notice"> -->
<!--			</c:forEach>-->
        </tbody>
		</tfoot>tfoot>	
			<tr align="center">
				<td colspan="5">
					<th:block th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
							<a th:href="@{/notice/list(cp=${p})}" th:text="${p}"></a>
					</th:block>
				</td>
			</tr>
		</tfoot>
</body>
</html>
