<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 수정</title>
<!-- 	<link rel="stylesheet" href="/css/main.css" -->
</head>
	<body>
		<h1>공지사항 수정</h1>
<!-- 		17, 21번 라인에서 * 로 객체 가져다 쓰는거 하려면 form 태그에
		th:object=${notice} 해줘야 한다-->
		
<!-- 	절대 경로 -->
		<form action="/notice/modify" method="post" th:object=${notice}>
<!-- 	상대 경로 (절대경로 상대경로 전부 가낭하다고 하나 동작하지 않음..) -->
<!-- 		<form action="modify" method="post" th:object=${notice}> -->
		<input type="hidden" name="noticeNo" th:value="*{noticeNo}">
		<ul>
			<li>
				<label>제목</label>
<!-- 				<input type="text" name="noticeSubject" value"${notice.noticeSubject}"> -->
<!-- 			input 태그에서는 *(필드명) 형식으로 데이터를 받는게 표준 문법이라고 함 -->
			<input type="text" name="noticesubject" th:value="*{noticeSubject}">
			</li>
			<li>
				<label>내용</label>
				<textarea rows="4" cols="50" name="noticeContent" th:text="*{noticeContent}"></textarea>
			</li>
			<li>
				<label>첨부파일</label>
				<th:block th:if="*{noticeFile != null}">
					<a th:href="@{|*{noticeFile.filePath}*{noticeFile.fileRename}|}"
													th:download="${notice.noticeFile.fileName}">다운로드</a>
				</th:block>
				<th:block th:if="*{noticeFile == null}">
					<span>없음</span>
				</th:block>
				<input type="file" name="reloadFile">
		</ul>
		<div>
<!-- 			<button>수정</button> -->
			<input type="submit" th:value="수정">
		</div>
		</form>
	</body>
</html>