<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 상세조회</title>
</head>
<body>
	<h1>공지사항 상세</h1>
	<ul>
		<li><label>제목</label>
		 <span th:text="${notice.noticeSubject}"></span>
		 </li>
		 <li>
		 <label>첨부파일</label>
		<!-- <a th:href="${notice.noticeFile.filePath}${noticeFile.fileRename}" th:text="${noticeFile.fileName}"></a> -->
				<th:block th:if="*{noticeFile !=null}">
<!-- 				실제 다운로드 되는 파일이 원래의 파일명으로 다운로드되게 -->
				<a th:href="@{|*{notice.noticeFile.filePath}*{notice.noticeFile.fileRename}|}"				
				th:download="${notice.noticeFile.fileName}">다운로드</a>
				</th:block>
			<th:block th:if="*{notice.noticeFile == null}">
				<span>없음</span>
			</th:block>
			<input type="file" name="reloadFile">
			</li>
<!-- 		<li> -->
<!-- 		<label>내용</label> -->
<!-- 			<p th:text="${notice.noticeContent}"></p> -->
<!-- 			</li>		 -->
	</ul>
	<button th:onclick="showModifyPage();">수정하기</button>
	<button th:onclick="deleteNotice(/*[[${notice.noticeNo}]]*/)">삭제하기</button>
	<button th:onclick="goBack();">뒤로가기</button>
<!-- 	Thymeleaf 변수를 자바스크립트에서 사용하려면 script 태그에 th:inline="javascript" 속성을 줘야한다 -->
	<script th:inline="javascript">
	
		function deleteNotice(noticeNo) {
			console.log(noticeNo);
			if (confirm("정말 삭제하시겠습니까?")) {
				// /notice/detail/1000210 ... 경로 치환시켜서 쓰는거 가능
				location.href = location.pathname.replace("detail", "delete");
			}
		}

		function showModifyPage() {
			// /notice/detail/10000202
			// 현재 경로에서 특정 부분만 치환시켜(detail을 modify로) 이동할 주소로 사용하겠다
			location.href = location.pathname.replace("detail", "modify");
		}

		function goBack() {
			history.go(-1);
		}
	</script>
</body>
</html>