<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="customerStore" class="com.benq.customer.store.impl.CustomerStoreImpl"></bean>
	<bean id="customerService" class="com.benq.customer.service.impl.CustomerServiceImpl">
 	<!--	<property name="store" ref="customerStore"></property> -->	
		<constructor-arg ref="customerStore"></constructor-arg> 
	</bean>
		
</beans>
