@charset "UTF-8";
ul {
	list-style-type : none;
	padding-left : 0;
}
li {
	margin : 10px;
}
ul label {
	width : 80px;
	float : left;
	text-align : left;
}
.login-area {
	display : flex;
	flex-direction : row;
	justify-content : center;
}
.login-area input {
	width : 150px;
	height : 40px;
	text-align : center;
	border : 1px solid #ccc;
	background-color : #fafafa;
	box-shadow : 1px 1px 1px #ccc;
}

table {
	border : 1px solid black;
	border-collapse : collapse;
}

th, td {
	border : 1px solid black;
}